@{
    ViewBag.Title = "Главная";
}

@Styles.Render("~/Content/css")


@Html.Partial("_PlayerList")

<div class="col-sm-8 text-center">
    <h2>Выберете игру:</h2>
    <div class="well">
        <p>@Html.ActionLink("Крестики-нолики", "Game", "Home")</p>
    </div>
    @*<div id="loginBlock">
        Ваше имя:<br />
        <input id="txtUserName" type="text" />
        <input id="btnLogin" type="button" value="Войти" />
    </div>
    <div id="gameBody" hidden>
        <div id="header"></div>
        @Html.Partial("GameField");
        <div id="chatusers">
            <p><b>Игроки</b></p>
        </div>

    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
    <div id="Users" hidden>
        @Html.Partial("UserList");
    </div>*@

</div>

<div class="col-sm-2 sidenav">
    <div class="well">
        <p>room 1</p>
    </div>
    <div class="well">
        <p>room 2</p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery", "~/bundles/jquerysignalR", "~/signalr/hubs")
}

<script src="~/Scripts/util.js"></script>
@*</body>
    </html>*@